
/*accueil début*/
	/*bleu début*/
#index{
	
	width: 100% ;
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 300vh;
  	background: linear-gradient(180deg, rgb(0, 0, 255)0%,  rgb(0, 0, 255)100vh, black 100vh,  black 200vh,white 200vh);

}
header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
#accueil{
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 1rem;	
}

/*header accueil début*/
h1{

	font-size: 1.5rem;
	font-family: "darker grotesque";
	color: black;
	text-align: left;
	top: 1.5vh;
	left: 5vw;
	padding: 0.5rem;
	background-color: white;
}
nav {
    text-align: center;

    top: 3vh;
    padding: 0;
 	margin-left: 0;
 	margin-right: 0;
    width: 100vw;


}
nav ul{
	 text-align: center;
	 padding: 0;
   	 margin: 0;

}
nav li {
	display: inline;
	color: white;
	font-family: "darker grotesque";
	list-style: none;
	font-size: 1rem;
}
nav li:hover{
	color: black;
}

nav li:active{
	color: rgb(0, 0, 255);
	background-color: white;
}
 nav a{
	display: inline-block;
	margin: 0 2vw;
	text-decoration-line: none;
}
/*header fin*/

#pochoir{
	width: 100vw;
	top: 0vw;
	left:0vw;
	position: absolute;
	z-index: 0;
}


#texte_pochoir{
	position: absolute;
	color: rgba(255, 255, 255, 0.2);
	text-align: left;
	width: 350px;
	font-family: "lekton";
	left: 5vw;
	top:33vw;
}

#texte_pochoir:hover{
	color: white;
}

#description{
	color: white;
	text-align: left;
	width: 28vw;
	font-family: "yeseva one";
	position:absolute;
	left: 5vw;
	top: 14.5vw;
	font-size: 2.3rem;
	line-height: 1.2;
}
	/*bleu fin*/
	/*vert début*/
#vert{
	width: 59vw;
	height: 115vh;
	display: flex;
	font-size: 1rem;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: visible;
}
#scotchée{
	color: rgb(0,255,0);
	top: 0vw;
	width:32vw;
	vertical-align: top;
	margin: 0;
	padding: 0;
	align-content: flex-start;
	flex-wrap: wrap;
	z-index: 2;
	}
#text_scotchée{
	position: absolute;
	width: 160px;
	color: rgba(255, 255, 255, 0.2);
	left: 5vw;
	top:65vw;
	font-family: "lekton";
	margin: 0;
	font-size: 1rem;
	z-index: 2;
}
#text_scotchée:hover{
	color: rgb(0, 255, 0);
	
}
#travaux{
	text-align: center;
	color: rgb(0, 255, 0);
	padding: auto;
	vertical-align: middle;
	width: 27vw;
	height: 59.3vh;
	z-index: 2;
	font-family: "darker grotesque";
}

#travaux a:hover{
	color: white;
	
	}

	 
#travaux a{
	color: rgb(0, 255, 0);
	text-decoration: none;
}

#travaux a:active{
	color: rgb(0, 255, 0);
}


#titre_TR{
	font-family: "yeseva one";
	font-size: 2rem;
	margin-top: 20vh;	
}
#text{
	font-family: "darker grotesque";
	margin: 5vw;
}
#ondulée{
	vertical-align: top;
	width: 39vw;
	padding: 0;
	margin: 0;
	

}
#text_ondulée{
	position: absolute;
	width: 160px;
	color: rgba(255, 255, 255, 0.15);
	left: 87vw;
	top:90vw;
	font-size: 1rem;
	font-family: "lekton";
}
#text_ondulée:hover{
	color: rgb(0, 255, 0);
}
#cv{
	margin-left: 3vw;
	color: #ededed;
	display: block;
	width: 59vw;
	height: 60.7vh;
	left: 0vw;
	top: 83vw;
	font-size: 7vw;
	line-height: 1.3;
	font-family: "yeseva one";
}
#cv:hover{
	color: rgb(0, 255, 0);
}
#cv:active{
	color: white;
}
a{
	text-decoration: none;

}

	

#explication_projet{
	font-family: "yeseva one";
	font-weight : bold;
	color: rgb(255,0,0);
	font-size: 1.7rem;
	width: 25vw;
	margin-left: 4vw;
	line-height: 1.5;
}
#nom_projet{
	font-weight: bold;
	color: #cecece;
	margin-top: 1.1vh;
	font-family: "darker grotesque";
	font-weight: bold;
	font-size: 1.5rem;
}

	/*vert fin*/
	/*rouge début*/
#rouge{
	width: 100vw;
	height: 85vh;
	font-size: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	
	
}

#erreur{
	width: 59vw;

}
#text_erreur{
	position: absolute;
	font-size: 1em;
	font-family: "lekton";
	top:230vh;
	left: 42vw;
	width: 200px;
	color: rgba(255, 255, 255, 0.35);	
}

#text_erreur:hover{
	color: black;
	}

#text_rouge{
	width: 38vw;
	font-size: 1rem;
	height: 85vh;
}

#text_rouge p{
	margin-left: 4vw;
}

#contact{
	font-family: "yeseva one";
	line-height: 1.2;
	margin-left: 4vw;
	margin-top:  28vh;
}

#contact a{
	color: black;
}

#contact a:hover{
	color: black;
	text-decoration: line-through;}

#contact a:active{
	color: rgb(255, 0, 0);
	text-decoration: line-through;}
	/*rouge fin*/

/*accueil fin*/

/*présentation début*/

#presentation{
	background-color: rgb(0,0,255);
	display: flex;
	width: 100vw ;
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
#presentation h1{
	background-color: transparent;
	color: black;
}
#presentation nav li:active{
	color: rgb(0, 0, 255);
	background-color: white;
}
#letters_are{
	width: 40vw;
	margin-top: 20vh;
	margin-left: 10vw;

}
#text_presentation{
	width: 35vw;
	margin-top: 20vh;
	margin-left: 7vh;
	}

#text_presentation p{
	width: 25vw;

}
#description_graphisme{
	width: 50vw;
	font-family: "yeseva one";
	font-size: 2.3rem;
	line-height: 1.2;
	color: black;
}

#moi{
	font-family: "darker grotesque";
	color: white;
}

/*présentation fin*/

/*travaux début*/

#portfolio{
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;	
}

#portfolio h1{
	color: rgb(0, 255, 0);
	background-color: transparent;
}
#portfolio nav li{
	color: rgb(0, 255, 0);
}

#portfolio nav li:hover{
	color: white;
}

#portfolio nav li:active{
	color: black;
	background-color: rgb(0, 255, 0);
}
#mot_travaux{
	width: 30%;
}
#sommaire{
	position: fixed;
	bottom: 10vh;
	left: 4vw;
}
#sommaire li{
	font-family: "lekton";
	color: rgb(0, 255, 0);
}

#sommaire li:hover{
	background-color: white;
}
#sommaire li:active{
	color: black;
}
#portfolio p{
	font-family: "darker grotesque";
}
#rubrique_travaux{
	background-color: black;
	width: 100vw;
	height: 100vh;
	color: rgb(0, 255, 0);
	text-align: center;	
}
#rubrique_travaux img{
	margin-top: 40vh;
}
#rubrique_travaux p{
	margin-top : 5vh;
	font-family: "darker grotesque";
}

#bloc_marathon{
	height: 300vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_marathon{
		height: 100vh;
	}

		#marathon_vert{
			position: absolute;
			width:	55vw;
			margin-left: 22.5vw;
			margin-top: 13.5vh;
			z-index: 1
		}

		#marathonmini{
			position: absolute;
			width: 25vw;
			margin-left: 37.5vw;
			margin-top: 19vh;
		}

	#content_marathon{
		height: 200vh;
		width: 100vw;

	
	}
	#marathon_fix{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
	#marathon_gif{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}



#bloc_gobelophilie{
	height: 300vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_gobelophilie{
		height: 100vh;
		
	}

		#gobelophilie_vert{
			position: absolute;
			width:	50vw;
			margin-left: 25vw;
			margin-top: 13.5vh;
			z-index: 1
		}

		#gobelophiliemini{
			position: absolute;
			width: 40vw;
			margin-left: 30vw;
			margin-top: 25vh;
		}

	#content_gobelophilie{
		height: 200vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
		
		}
		#gobelo_expe{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 25.4vh;
		padding-bottom: 25.4vh;
	
		}
		#gobelo_final{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 28vh;
		padding-bottom: 28vh;
		
		}





#bloc_popup{
	height: 200vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_popup{
		height: 100vh;
	}

		#popup_vert{
			position: absolute;
			width:	58vw;
			margin-left: 21vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#popupmini{
			position: absolute;
			width: 45vw;
			margin-left: 27.5vw;
			margin-top: 22vh;
		}

	#content_popup{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#pop_up{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 25.4vh;
		padding-bottom: 25.4vh;
		}


#bloc_vinyle{
	height: 200vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_vinyle{
		height: 100vh;	
	}
		#vinyle_vert{
			position: absolute;
			width:	45vw;
			margin-left: 27.5vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#vinylemini{
			position: absolute;
			width: 38vw;
			margin-left: 31vw;
			margin-top: 26vh;
		}

	#content_vinyle{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#vinyle1{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 25.4vh;
		padding-bottom: 25.4vh;
		}



#bloc_carre{
	height: 200vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_carre{
		height: 100vh;
		
	}
		#carre_vert{
			position: absolute;
			width:	49vw;
			margin-left: 25.5vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#carremini{
			position: absolute;
			width: 45vw;
			margin-left: 27.5vw;
			margin-top: 24vh;
		}

	#content_carre{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#content_carre iframe{
		width: 50vw;
		margin-left: 25vw;
		margin-right: 25vw;
		padding-top: 25vh;
		padding-bottom: 25vh;
		}


#bloc_element{
	height: 500vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_element{
		height: 100vh;	
	}

		#element_vert{
			position: absolute;
			width: 55vw;
			margin-left: 18vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#elementmini{
			position: absolute;
			width: 25vw;
			margin-left: 37.5vw;
			margin-top: 17vh;
		}

	#content_element{
		height: 400vh;
		width: 100vw;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#mdm_expe1{
		width: 50vw;
		margin-left: 25vw;
		margin-right: 25vw;
		padding-top: 25vh;
		padding-bottom: 25vh;
		}
		#mdm_expe2{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 10vh;
		padding-bottom: 15vh;
		}
		#mdm_chiffre1{
		width: 15vw;
		margin-left: 22vw;
		margin-top: 22vh;
		margin-bottom: 22vh;
		
		}
		#mdm_chiffre2{
		width: 15vw;
		margin-left: 5.5vw;
		margin-right: 5.5vw;
		margin-top: 22vh;
		margin-bottom: 22vh;
		}
		#mdm_chiffre3{
		width: 15vw;
		
		margin-top: 22vh;
		margin-bottom: 22vh;
		}

		#mdm_forme1{
		width: 15vw;
		margin-left: 22vw;
		margin-top: 22vh;
		margin-bottom: 22vh;
		
		}
		#mdm_forme2{
		width: 15vw;
		margin-left: 5.5vw;
		margin-right: 5.5vw;
		margin-top: 22vh;
		margin-bottom: 22vh;
		}
		#mdm_forme3{
		width: 15vw;
		
		margin-top: 22vh;
		margin-bottom: 22vh;
		}
	


#bloc_roto{
	height: 200vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_roto{
		height: 100vh;
		
	}

		#roto_vert{
			position: absolute;
			width:	58vw;
			margin-left: 20vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#rotomini{
			position: absolute;
			width: 45vw;
			margin-left: 27.5vw;
			margin-top: 24vh;
		}

	#content_roto{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#content_roto iframe{
		width: 50vw;
		margin-left: 25vw;
		margin-right: 25vw;
		padding-top: 25vh;
		padding-bottom: 25vh;
		}
#bloc_objet{
	height: 400vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_objet{
		height: 100vh;	
	}

		#objet_vert{
			position: absolute;
			width:	58vw;
			margin-left: 20vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#objetmini{
			position: absolute;
			width: 30vw;
			margin-left: 35vw;
			margin-top: 12.5vh;
		}

	#content_objet{
		height: 300vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#objet1{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 12vh;
		padding-bottom: 12vh;
		}
		#objet2{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 11vh;
		padding-bottom: 11vh;
		}
		#objet3{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 11vh;
		padding-bottom: 11vh;
		}



#bloc_freaks{
	height: 600vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

#titre_freaks{
	height: 100vh;
	
}

	#content_freaks{
		height: 500vh;
		width: 100vw;
	}

		#freaks_vert{
			position: absolute;
			width:	39.5vw;
			margin-left: 30.75vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#freaksmini{
			position: absolute;
			width: 34vw;
			margin-left: 33vw;
			margin-top: 8vh;
		}

#bloc_flash{
	height: 200vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

		#freaks1{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 12.5vh;
		padding-bottom: 12.5vh;
		
		}
		#freaks2{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 12.5vh;
		padding-bottom: 12.5vh;
		
		}
		#freaks3{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 12.5vh;
		padding-bottom: 12.5vh;
		
		}
		#freaks4{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 12.5vh;
		padding-bottom: 12.5vh;
		
		}
		#freaks5{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 13.5vh;
		padding-bottom: 13.5vh;
		
		}


	#titre_flash{
		height: 100vh;	
	}

		#flash_vert{
			position: absolute;
			width:	47vw;
			margin-left: 26.5vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#flashmini{
			position: absolute;
			width: 40vw;
			margin-left: 30vw;
			margin-top: 24vh;
		}

	#content_flash{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;

	}
		#flashgif{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 23vh;
		padding-bottom: 23vh;
		}

#bloc_oulipo{
	height: 600vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_oulipo{
		height: 100vh;
		
		
	}
		#oulipo_vert{
			position: absolute;
			width:	40vw;
			margin-left: 30vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#oulipomini{
			position: absolute;
			width: 30vw;
			margin-left: 33.5vw;
			margin-top: 7vh;
			border: 25px solid black;
		}

	#content_oulipo{
		height: 500vh;
		width: 100vw;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#OLP_expe_fixe{
		width: 30vw;
		margin-left: 35vw;
		margin-right: 35vw;
		padding-top: 12vh;
		padding-bottom: 12vh;
		}
		#OLP_expe_gif{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 15vh;
		padding-bottom: 15vh;
		}
		#OLP_affiche1{
		width: 25vw;
		margin-left: 36vw;
		margin-top: 15vh;
		margin-bottom: 15vh;
		border: 20px solid black;
		}
		#OLP_affiche2{
		width: 25vw;
		margin-left: 36vw;
		margin-top: 15vh;
		margin-bottom: 15vh;
		border: 20px solid black;
		}
		#OLP_affiche3{
		width: 25vw;
		margin-left: 36vw;
		margin-top: 15vh;
		margin-bottom: 15vh;
		border: 20px solid black;
		}


#bloc_typo{
	height: 200vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_typo{
		height: 100vh;
		
	}

		#typo_vert{
			position: absolute;
			width:	56vw;
			margin-left: 23vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#typomini{
			position: absolute;
			width: 40vw;
			margin-left: 30vw;
			margin-top: 22vh;
		}

	#content_typo{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;

	}
		#gif_typo{
		width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
		padding-top: 23vh;
		padding-bottom: 23vh;
		}



#bloc_basique{
	height: 200vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_basique{
		height: 100vh;
		
	}
		#basique_vert{
			position: absolute;
			width:	51vw;
			margin-left: 24.5vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#basiquemini{
			position: absolute;
			width: 40vw;
			margin-left: 30vw;
			margin-top: 24vh;
		}

	#content_basique{
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
	}
		#content_basique iframe{
		width: 50vw;
		margin-left: 25vw;
		margin-right: 25vw;
		padding-top: 25vh;
		padding-bottom: 25vh;
		}



#bloc_update{
	height: 500vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

	#titre_update{
		height: 100vh;
	}
		#update_vert{
			position: absolute;
			width: 49vw;
			margin-left: 25.5vw;
			margin-top: 13.5vh;
			z-index: 1;
		}

		#updatemini{
			position: absolute;
			width: 30vw;
			margin-left: 34.5vw;
			margin-top: 10vh;
			border: 1px solid white;
		}
	#content_update{
		height: 400vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items:  flex-start;
		
	}

	#content_update img{
	width: 30vw;
	text-align: center;
	margin-top: 17vh;
	margin-left: 35vw;
	}

	#oulipoupdate4{
		border: 1px solid white;

	}

.annotations{
	height: 100vh;
	width : 20vw;
	position: sticky;
	left: 80vw;
	z-index: 1;
	top: 0vh;
}

.annotations h2{
	font-family: "yeseva one";
	margin-top: 1vh;
	font-size: 1.3em;
	line-height: 1.3;
	width:17vw;
}

.annotations p{
	margin-top: 1vh;
	width: 17vw;
	
}
.annotations ul{
	text-align: left;
	margin-left: 5vw;
	margin-top: 75vh;
	font-weight: bold;

}
.annotations li{
	font-family: "lekton";
	font-weight: bold;
}
.titre_projet{
	width: 80vw;
	height: 100vh;	
}



.blanche{
	color: white;
}


/*travaux fin*/
/*parcours début*/
#parcours{
	width: 100vw;
	height: 200vh;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items:  flex-start;
}

#parcours h1{
	color: rgb(255, 0, 0);
}
#parcours nav li{
	color: black;
}

#parcours nav li:hover{
	color: rgb(255,0,0);
}

#parcours nav li:active{
	color: white;
	background-color: black;
}
#forma_expe{
	position: fixed;
	top: 43vh;
	left: 3vw;
}
#forma_expe li{
	font-family: "yeseva one";
	font-size : 2em;
	line-height: 1.3;
	color: grey;
	text-decoration: none;

}

#forma_expe li:hover{
	color: black;
}
#forma_expe li:active{
	color: rgb(255, 0, 0);
}
#formations_box{
	width: 100vw;
	height: 100vh;
}
	#formations{
		position: absolute;
		width: 40vw;
		left: 50vw;
		top: 15vh;
		bottom: 15vh;
		line-height: 1.2;
		font-family: "darker grotesque";
		}
#experiences_box{
	width: 100vw;
	height: 100vh;
}
	#experiences{
		position: absolute;
		width: 40vw;
		left: 50vw;
		top: 128vh;
		margin-bottom: 15vh;
		height: 1.2;
		font-family: "darker grotesque";
		}

	.date{
		font-family: "lekton";
		font-weight: bold;
	}

	#parcours p{
		font-family: "lekton";
		font-size: 1.1em;
		line-height: 1.1;
	

	}

	table{
		border-bottom: 1em;
		border-collapse: separate;
		border-spacing: 2em;
		z-index: 1;
		color: black;
	}

	#fond1{
		width: 60vw;
		position: absolute;
		left: 20vw;
		top: 30vh;
		z-index: 0;
		filter:alpha 50;
		opacity: 0.5;
	}

	#fond2{
		width: 60vw;
		position: absolute;
		left: 20vw;
		top: 130vh;
		z-index: 0;
		filter:alpha 50;
		opacity: 0.5;
	}

	#parcours a{
		text-decoration: none;
	}

	/*parcours fin*/
